
*.suo
V8-1/JT-Loader_Vis-Studio_C++/.vs
V8-1/JT-Loader_Vis-Studio_C++/Debug/
V8-1/JT-Loader_Vis-Studio_C++/JTLoader/Debug/
V8-1/JT-Loader_Vis-Studio_C/JTLoader/bin/
V8-1/JT-Loader_Vis-Studio_C/JTLoader/obj/
V8-1/JT-Loader_Vis-Studio_TS/out/
V8-1/JT-Loader_Vis-Studio_C#/JTLoader/obj/
V8-1/JT-Loader_Vis-Studio_C#/JTLoader/bin/
V8-1/JT-Loader_VSCode_TS/out/